<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
</head>

<body>
    <!--show register form-->
    <h2>Login</h2>

    <form action="/users" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <label for="password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password">
        <input type="submit" value="Login">
    </form>

</body>

</html>